gymnasium~=0.29.1
setuptools~=68.2.0
numpy~=1.26.3
flax~=0.8.1
optax~=0.1.8
jax~=0.4.25
jaxlib~=0.4.25
ale-py~=0.8.1
gymnasium[atari]
gymnasium[accept-rom-license]
gymnasium[other]
pandas~=2.2.2
rlax~=0.1.6
pip~=24.0
distrax~=0.1.5
orbax~=0.1.9
gym-super-mario-bros~=7.4.0
tensorboardX~=2.6.2.2
tqdm~=4.66.2
termcolor~=2.4.0
singleton_decorator~=1.0.0
gym~=0.23.1